<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Criar cartão receita </h1>

    <form action="/receitanova" method="post">
        <p>Autor:<input type="text" name="Autor" /></p>
        <p>Ingredientes<input type="text" name="Autor" /></p>
        <p><input type="text" name="Autor" /></p>
        <p>Instruções:<input type="text" name="Autor" /></p>
        <p>readyInMinutes:<input type="text" name="Autor" /></p>
        <p>Porções:<input type="text" name="Autor" /></p>
        <p>Titulo:<input type="text" name="Autor" /></p>
        <input type="submit" value="Encontrar" />
    </form>
</body>
</html>