<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> substituto para ingredientes </h1>

    <form action="/substituto/ingredientes" method="post">
        Ingrediente:
        <select name="ingre">
            <option value="flour">flour</option> 
            <option value="butter">butter</option>
            <option value="valor3">Valor 3</option>
        </select>
        <input type="submit" value="Encontrar" />
    </form>
</body>
</html>